<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.sella.assist">

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />


    <application
        android:name="it.sella.assist.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="it.sella.assist.ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.sella.assist.ui.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name="it.sella.assist.ui.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name="it.sella.assist.ui.BiometricAddActivity"
            android:label="@string/title_activity_biometric_add"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="it.sella.assist.ui.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name="it.sella.assist.ui.PermissionActivity"
            android:label="@string/title_activity_permission" />
        <activity
            android:name="it.sella.assist.ui.FullScreenImageActivity"
            android:label="@string/title_activity_fullscreen" />
        <activity
            android:name="it.sella.assist.ui.DetailEventActivity"
            android:label="@string/title_activity_detail_event"
            android:theme="@style/AppTheme"></activity>

        <provider
            android:name="it.sella.assist.data.SellaAssistProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".service.FeedService"
            android:exported="false" />
        <service
            android:name=".service.EventService"
            android:exported="false" />
        <service
            android:name=".service.BiometricService"
            android:exported="false" />

        <service android:name="it.sella.assist.sync.SellaAssistAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="it.sella.assist.sync.SellaAssistSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>